<div class="alert alert-info alert-sm" role="alert">
    Job Calendar
</div>

<div>
    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
            <button class="btn btn-primary btn-sm" type="button" (click)="changeMonth(-1)">
                <span class="fa fa-chevron-circle-left"></span>
                Previous Month
            </button>
        </div>
        <div class="col col-lg-4 text-center">
            <div class="alert alert-warning alert-sm text-bold">
                {{timeDisplay}}
            </div>
        </div>
        <div class="col col-lg-2 text-right">
            <button class="btn btn-primary btn-sm" type="button" (click)="changeMonth(1)">
                Next Month
                <span class="fa fa-chevron-circle-right"></span>
            </button>
        </div>
        <div class="clearfix"></div>
    </div>

    <!--  <span style="cursor: pointer;" ng-click="goToJob(day.keyDate, $index)">{{t.department_name}} tasks: ({{t.cnt}})</span> -->

    <div class="cal-day-header">Sun</div>
    <div class="cal-day-header">Mon</div>
    <div class="cal-day-header">Tue</div>
    <div class="cal-day-header">Wed</div>
    <div class="cal-day-header">Thu</div>
    <div class="cal-day-header">Fri</div>
    <div class="cal-day-header">Sat</div>

    <div style="clear: both;"></div>

    <div *ngFor="let day of schedule as days; index as i; first as isFirst" [ngClass]="{'cal-day': true, 'gray-background': !day.isCurrentMonth}">
        <div [ngClass]="{'text-bold': true, 'background-warning': day.isCurrentMonth, 'gray-background': !day.isCurrentMonth}">
            {{day.dayNumber}}</div>
        <div *ngFor="let job of day.jobs as jobs; index as j" ngClass="{{job.class}}">
            {{job.departmentName}} tasks: {{job.jobCount}}
        </div>
    </div>
</div>