/**
 * Global Application Styles
 */

@import "constants";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/font-awesome/css/font-awesome.css";

body {
	font-family: $primary-font;
	font-size: $primary-font-size;
}

.alert-sm{
	padding: 5px;
	margin-bottom: 15px;
}

.text-bold{
	font-weight: bold;
}