/**
 * Global Application Styles
 */

@import "constants";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
	background-color: $primary-bg;
	color: #ffffff;
	font-family: $primary-font;
	font-size: $primary-font-size;
}